<!DOCTYPE html>
<html lang="es">
	<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Roobik Admin Tools</title>

	</head>
	<body>
    <div id="app">
      <h1>{{titulo}}</h1>
      <input type="text" v-model="nuevoAlumno.nombre">
      <button @click="agregarAlumno()">Agregar Nuevo</button>
      <ul>
        <li v-for="alumno of alumnos">{{alumno.id}} - {{alumno.nombre}} - {{alumno.estado}}<span v-if="alumno.cantidad === 0"> - No hay NA</span></li>
      </ul>
    </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!-- VUE JS 2 -->
  <script src="js/basic.js"></script> <!-- BASICO JS 2 -->
	</body>


</html>